@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

$font-ubuntu: 'Ubuntu', sans-serif;
$font-xs: '1.1rem';
$font-sm: '1.21rem';
$font-tiny: '1.26rem';
$font-base: '1.46rem';
$font-lg: '1.64rem';
$font-xl: '1.825rem';
$font-2xl: '2.2rem';
$font-3xl: '2.7rem';
$font-4xl: '3.25rem';
$font-5xl: '4.3rem';
$font-6xl: '5.8rem';
$font-7xl: '7.3rem';
