.form {
	max-width: 400px;
	width: 100%;
	color: #fff;
}

.input {
	margin-bottom: 30px;
	& input {
		padding: 10px;
		border: 1px solid $color-primary;
		border-radius: 5px;
		color: #fff;
	}
}

.btn {
	padding: 10px 15px;
	border-radius: 10px;
	background: $color-primary;
	color: #fff;
}
