.root {
	position: relative;
	font-size: 25px;
	margin-bottom: 10px;
}

.overflow {
	position: relative;
	width: 120px;
	height: 60px;
	overflow: hidden;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 10px solid #fff;
	border-bottom-color: #03eb03;
	border-right-color: #ffff00;
}

.value {
	display: block;
	position: absolute;
	text-align: center;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
}
