.item {
	padding: 15px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 2px 8px 5px 1px rgba($color-primary, 0.8);
	& svg {
		font-size: 30px;
		color: $color-primary;
	}
}

.title {
	font-size: 20px;
	margin-bottom: 10px;
}

.value {
	font-size: 25px;
	font-weight: bold;
}
