.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 15px;
	background: $color-primary;
	color: #fff;
}

.icon {
	font-size: 0;
	& svg {
		font-size: 35px;
	}
}
.title {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0;
}

.total {
	font-size: 25px;
	font-weight: bold;
}
